# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Build
dist/
build/


backend/src/config/serviceAccountKey.json
